<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
      <div th:replace="fragments/header :: header-css"/>
</head>

<body>

<div class="container">
<h3>Authorised Users Only!</h3>

<table class="formtable">
<tr><td>User</td><td></td><td>Email</td><td></td><td>Enabled</td></tr>
<tr th:each="user : ${users}">
<td th:text="${user.username}"></td><td></td>
<td th:text="${user.email}"></td><td></td>
<td th:text="${user.enabled}"></td>
</tr>

</table>
</div>
<!-- /container -->
<p></p>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>